* {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
}
.row1 {
  color: #c0bab6;
  background: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
.row1 a {
  color: #c0bab6;
  background-color: #333333;
  text-decoration: none;
}
header {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;
}
#hgroup {
  float: left;
  margin: 0 0 20px 0;
}
#hgroup h1 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

#hgroup h2 {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
header nav {
  display: block;
  float: right;
  margin-top: 10px;
  padding: 20px 0;
  color: #c0bab6;
  background-color: #232323;
}
#header nav ul {
  padding: 0 20px;
}
#header nav ul li {
  display: inline-block;
  margin-right: 25px;
}
#header nav ul li a {
  color: #c0bab6;
  background-color: #232323;
  text-transform: uppercase;
}

.last {
  margin-right: 0;
}
.row2 {
  color: #979797;
  background-color: #ffffff;
}

#container {
  width: 960px;
  margin: 0 auto;
}
#slider {
  margin: 30px auto;
}
#container #homepage {
  display: block;
  width: 100%;
  line-height: 1.8em;
}

#container section {
  display: block;
  width: 100%;
  margin: 30px 0;
  padding: 0;
  overflow: auto;
}
.one_third {
  width: 300px;
  display: block;
  float: left;
  margin: 0 30px 0 0;
}

.one_third img {
  margin: 0 0 15px 0;
  padding: 4px;
  border: 1px solid #d6d6d6;
}
#services figure h2 {
  font-size: 14px;
  font-weight: bold;
}
.more {
  text-align: right;
}
.more a {
  color: #ff9900;
  background-color: #ffffff;
}
#services .last {
  margin-right: 0;
}
#container .last {
    margin: 0;
}
#container #homepage #intro article figure img {
    float: right;
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #intro article figure figcaption {
    float: left;
    width: 460px;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
#intro p {
  margin: 10px 0;
}
#intro a{
  color: #ff9900;
  background-color: #ffffff;
}
.row3 {
    color: #989898;
    background-color: #333333;
}
#header, #container, #footer, #copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
}
.one_quarter {
    width: 225px;
}

.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
.lastbox {
    margin-right: 0;
}
#footer {
    padding: 30px 0;
    font-size: 12px;
    line-height: 1.4em;
    overflow: auto;
}
#footer section h2.title {
    margin: 0 0 25px 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer section nav li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #555555;
}

.row3 a {
    color: #FF9900;
    background-color: #333333;
}
.row4, .row4 a {
    color: #919191;
    background-color: #232323;
}
#copyright {
    padding: 20px 0;
    overflow: auto;
}
#header, #container, #footer, #copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
}
#copyright p {
    margin: 0;
    padding: 0;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}